@mixin lined_header {
  max-width: 1110px;
  margin: 0 auto;
  z-index: 1;
  overflow: hidden;
  position: relative;
  display: block;
  font-size: 25px;
  font-weight: bold;
  &::before, &:after {
    content: '\a0';
    width: 50%;
    top: 51%;
    height: 1px;
    background-color: #cacaca;
    position: absolute;
    overflow: hidden;
  }
  &::before {
    margin-left: -50%;
    margin-right: 20px;
    text-align: right;
  }
}
