@import "mixin";
@font-face {
  font-family: Nexa-Bold;
  src: url("../fonts/Nexa Slab Bold.otf");
}
#page {
  position: relative;
}
@font-face {
  font-family: Nexa;
  src: url("../fonts/Nexa Slab Regular.otf");
}
#navbar-main {
  background-color: transparent;
}
.path-frontpage {
  header {
    z-index: 3;
    top: 40px;
    position: absolute;
    width: 100%;
  }
}
header {
  z-index: 3;
  .navbar-toggler{
    margin-right: 20px;
  }
  .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}
#navbar-main {
  .form-group {
    margin: 0;
  }
  .nav-link--contact::before {
    display: none;
  }
  .block-views-exposed-filter-blockfull-search-page-1 {
    margin-left: auto;
    margin-right: 30px;
  }
  .form-row {
    * {
      border-radius: 0;
    }
    fieldset {
      padding: 0;
      input {
        height: 40px;
        max-width: 115px;
        border-right: none;
      }
    }
    .form-actions {
      padding: 0;
      input {
        border: 1px solid #ced4da;
        width: 40px;
        height: 40px;
        font-size: 0;
        background: center no-repeat url('data:image/svg+xml,<svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="gray" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/><path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/></svg>');
        background-size: 20px;
      }
    }
  }
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  .container {
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    #block-branding {
      padding-top: 25px;
      height: 115px;
      width: 240px;
      text-align: center;
      vertical-align: center;
      background-color: #3C3647;
      h2 {
        font-family: Nexa-Bold;
        color: #6F92CB;
        font-size: 30px;
      }
      h3 {
        font-family: Nexa;
        color: #fff;
        font-size: 14px;
      }
    }

    .menu--main {
      .navbar-nav {
        height: 100%;
        margin-left: 10px;
        align-items: center;
      }
      li {
        height: 115px;
      }
      a {
        height: 100%;
        line-height: 115px;
        font-size: 15px;
        text-transform: uppercase;
        padding: 0;
        margin: 0 8px;
        color: #333333;
        &[href="/"] {
          color: transparent;
          width: 30px;
          font-size: 0;
          background: no-repeat url("../images/Homepage-menu.png") center;
        }
        &.is-active {
          border-bottom: 4px solid #6F92CB;
        }
      }
    }
  }
}
.block-social-media-links-block {
  margin: 0 10px 0 auto;
}
.social-media-links--platforms {
  margin: 0;
  &.horizontal li {
    padding: 0;
  }
  li {
    background-color: #6F92CB;
    padding: 1px;
    width: 25px;
    height: 25px;
  }
  a {
    color: #fff;
  }
}
.search-form .form-submit::before {
  height: 16px;
  width: 16px;
  content: " ";

}

.search-block-form {

  fieldset {
    padding: 0;
  }
  input {
    max-width: 155px;
    border-radius: 0;
  }
  button {
    background-color: transparent;
    border-radius: 0;
    font-size: 0;
    border: 1px solid #ced4da;
  }
}
.path-frontpage {
  .form-actions {
    .form-submit::before {
      background: no-repeat center url("../images/loupe.png");
    }
  }
  .featured-top {
    background: no-repeat center url("../images/header.png") ;
    background-size: cover;
    min-height: 700px;
    #block-creativity {
      width: 80%;
      display: block;
      max-width: 800px;
      margin: 300px auto 0;
      text-transform: uppercase;
      h2 {
        color:#fff;
        font-size: 45px;
        line-height: 45px;
        margin: 0;
      }
      h3 {
        line-height: 30px;
        font-size: 28px;
        margin: 0;
      }
      h4 {
        line-height: 12px;
        margin: 0;
        font-size: 10px;
        color: #6F92CB;
      }
    }
  }
}
#block-line {
  margin: 0 auto;
  max-width: 1140px;
  .field--name-body {
    width: 100%;
    display: flex;
    div {
      height: 4px;
    }
    .first {
      width: 22.6%;
      background-color: #6F92CB;
    }
    .second {
      width: 0.4%;
      background-color: #000;
    }
    .third {
      width: 77%;
      background-color: #CBCBCB;
    }
  }
}
@media (max-width: 1200px) {
  #navbar-main .container .menu--main li {
    height: auto;
  }
  #navbar-main .container .menu--main a {
    line-height: 30px;
  }
  #block-socialmedialinks {
    display: none;
  }
  .block-views-exposed-filter-blockfull-search-page-1 {
    display: none;
  }
}
