@import "../mixin";
.block-views-blocknews-search-block-1 {
  text-transform: uppercase;
  & > h2 {
    text-align: center;
    @include lined_header;
    margin-top: 100px;
    margin-bottom: 20px;
  }
  .content {
    & > div {
      margin: 0 auto;
    }
    min-height: 100px;
    padding-top: 20px;
    background-image: linear-gradient(135deg, #cacaca 8.33%, #fefefe 8.33%, #fefefe 50%, #cacaca 50%, #cacaca 58.33%, #fefefe 58.33%, #fefefe 100%);
    background-size: 8.49px 8.49px;
  }
  .form-row {
    max-width: 1110px;
    margin: 0 auto;
  }
  .form-actions, fieldset {
    input {
      height: 100%;
    }
    background-color: #F5F5F5;
    margin: 0;
    padding: 4px;
    height: 45px;
    .button {
      padding: 4px 12px;
      background-color: #5BBDDD;
      border: none;
    }
  }
  .view-content {
    img {
      width: 80px;
      height: 80px;
    }
    display: flex;
    flex-wrap: wrap;
    .views-row {
      width: 50%;
      .news-post {
        padding: 30px;
        .col-2, .col-10 {
          background-color: #fff;
        }
        .col-2 {
          p {
            margin: 0;
          }
          padding-top: 20px;
          text-align: center;
          .mounth {
            font-size: 25px;
            line-height: 25px;
          }
          .day {
            font-size: 40px;
            line-height: 40px;
            font-weight: bold;
            color: #6F92CB;
          }
          .year {
            font-size: 14px;
            color: #D5D5D5;
          }
        }
        .col-10 {
          padding-top: 20px;
          padding-right: 0;
          .col-12 {
            h3 {
              font-size: 20px;
            }
            padding-right: 0;
            p {
              margin-bottom: 0;
            }
            .created_ago {
              margin-left: auto;
              color: #D5D5D5;
            }
            .author_category{
              a:first-child {
                color: #000;
              }
            }
            .role {
              color: #d5d5d5;
              margin-left: 10px;
              margin-right: 3px;
            }
            &:first-child {
              p {
                font-size: 10px;

              }
            }
            padding-left: 10px;
            border-left: solid 1px #D5D5D5;
            &:last-child {
              margin-bottom: 20px;
              p {
                text-align: justify;
                font-size: 10px;
                &:last-child {
                  margin-left: auto;
                  margin-top: 15px;
                  a {
                    color: #fff;
                    background-color: #3C3647;
                    font-size: 12px;
                    padding: 6px;
                    text-decoration: none;
                  }
                }
              }
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .block-views-blocknews-search-block-1 .view-content .views-row {
    width: 100%;
    margin-bottom: 0;
  }
}
@media (max-width: 600px) {
  .news-post {
    .col-12:first-child {
      display: none;
    }
    margin: 0;
    .col-2 {
      display: none;
    }
    .col-10 {
      width: 100%;
      max-width: 100%;
      flex: 0 0 100%;
    }
    .created_ago {
      display: none;
    }
    .role {
      display: none;
    }
  }
}
