@import "../mixin";
#block-linktoabout {
  .field--name-body {
    border-top: solid 4px #000;
    border-bottom: solid 4px #6F92CB;
    display: flex;
    max-width: 1140px;
    margin: 80px auto;
    justify-content: space-between;
    p {
      font-size: 18px;
      color:#D9D9D9;
      line-height: 48px;
      text-transform: uppercase;
      margin: 0 5px;
      &:last-child {
        margin-left: auto;
        line-height: 46px;
        a {
          color: #fff;
          background-color: #6F92CB;
          font-size: 12px;
          padding: 6px;
          text-decoration: none;
        }
      }
      &:first-child {
        color: #000;
        font-weight: bold;
      }
    }
  }
}
.block-views-blockservices-block-1 {
  text-transform: uppercase;
  text-align: center;
  & > h2 {
    @include lined_header;
  }
  .views-row {
    .views-field-field-image {
      margin-top: 80px;
    }
    .views-field-name {
      margin-top: 20px;
      a {
        color: #000;
        text-decoration: none;
      }
    }
    .views-field-description__value {
      color:#D9D9D9;
      font-size: 10px;
      margin: 10px 0;
    }
    .views-field-view-taxonomy-term {
      a {
        color: #fff;
        background-color: #6F92CB;
        font-size: 12px;
        padding: 6px;
        text-decoration: none;
      }
    }
  }
}
@media (max-width: 1200px ) {
  #block-linktoabout {
    margin: 20px;
    .field--name-body {
      display: none;
    }
  }
}
